$primary-color: #a0b2f7;
$secondary-color: #2ecc71;
$tertiary-color: #ff8a5b;
$background-color: #222222;
$secondary-bg-color: #292929;

$dark-color: #2e3235;
$white-color: #ffffff;
$gray-color: #666666;
$purple-color: #713e9e;
$orange-color: #ff763b;
$danger-color: #b92a22;
